pipeline/JsonToDeltaDBR.json
{
	"name": "JsonToDeltaDBR",
	"properties": {
		"activities": [
			{
				"name": "JsonLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JsonLkp",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "JsonLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('JsonLkp').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "NotebookPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "NBPath",
								"value": "/Users/free.adf@outlook.com/WidgetsJsonToFlat"
							}
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "NotebookPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@variables('NBPath')",
									"type": "Expression"
								},
								"baseParameters": {
									"JsonFile": {
										"value": "@item().JsonFile",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().TableName",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DBS",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"NBPath": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-12-14T04:00:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}